---
import Card from "./Card.astro";
const statistics = [
  { title: "Pomodoros Completed", quantity: "1", icon: "tomato" },
  { title: "Short Breaks", quantity: "1", icon: "breakCoffee" },
  { title: "Long Breaks", quantity: "1", icon: "pauseCard" },
  { title: "Tasks Completed", quantity: "1", icon: "taskCompleted" },
];
---

<!-- Cards -->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full">
  {
    statistics.map((stat) => (
      <Card title={stat.title} quantity={stat.quantity} icon={stat.icon} />
    ))
  }
</div>
