@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* filter: blur(5px); */
}

#container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  height: 100%;
}

@media screen and (max-height: 368px) {
  #news {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    line-height: 1.5;
  }
}

/* Font Faces */

@font-face {
  font-family: "work-sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "work-sans";
  src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
button {
  cursor: pointer;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.formOpen {
  @apply bg-white/50  rounded-b-none;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.inputTitle,
.inputDuration {
  @apply outline-none border-b border-b-black/20 text-black/70;
}

.waves {
  @apply bg-white transition-all duration-1000 ease-out bg-[size:16px_16px] bg-[position:0_0,8px_8px] bg-[image:linear-gradient(45deg,#efefef_25%,rgba(239,239,239,0)_25%,rgba(239,239,239,0)_75%,#efefef_75%,#efefef),linear-gradient(45deg,#efefef_25%,rgba(239,239,239,0)_25%,rgba(239,239,239,0)_75%,#efefef_75%,#efefef)] [clip-path:polygon(0px_0px,0%_0px,0%_100%,0px_100%)];
}

.bg-app {
  background: #dbe6f6;
  background: -webkit-linear-gradient(to top, #c5796d, #dbe6f6);
  background: linear-gradient(to top, #c5796d, #dbe6f6);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: #7c7a7a;
}

::-webkit-scrollbar-thumb {
  background: #7c7a7a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7a7a;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7c7a7a transparent;
}
