---
import "../styles/global.css";
import background from "../assets/background.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/" />
    <meta name="generator" content={Astro.generator} />
    <title>PomoTask</title>
  </head>
  <body>
    <div id="container">
      <img id="background" src={background.src} alt="" fetchpriority="high" />
      <slot />
    </div>
  </body>
</html>
