---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TimerClient from "../components/timer/TimerClient.astro";
import TaskList from "../components/task/TaskList.astro";
import Cards from "../components/statistics/Cards.astro";
---

<Layout>
  <Header />
  <main class="grid min-h-screen grid-cols-1 gap-6 p-6 lg:grid-cols-5">
    <!-- Timer Section -->
    <section class="p-6 rounded-lg shadow-lg lg:col-span-3 bg-gray-400/10 backdrop-blur-xl">
      <!-- <h2 class="mb-4 text-xl font-semibold">Pomodoro Timer</h2> -->
      <TimerClient client:load />
    </section>

    <!-- Tasks Section -->
    <section class="p-6 border border-gray-500 rounded-lg lg:col-span-2">
      <h2 class="mb-4 text-xl font-semibold">Tasks List</h2>
      <TaskList />
    </section>

    <!-- Estatistics Section-->
    <section class="p-6 border border-gray-500 rounded-lg lg:col-span-3">
      <h2 class="mb-4 text-xl font-semibold">Daily Statistics</h2>
      <Cards />
    </section>

    <!-- History Section -->
    <section class="p-6 border border-gray-500 rounded-lg lg:col-span-2">
      <h2 class="mb-4 text-xl font-semibold">History</h2>
    </section>
  </main>
</Layout>
