<!-- Form to add Task -->
<div
  id="form-task-container"
  class="invisible h-0 mb-3 rounded-b-lg bg-white/50"
>
  <form class="flex flex-col gap-4 px-3 py-2" id="add-task-form">
    <input
      type="text"
      placeholder="Task Description"
      class="px-2 py-1 pt-2 text-sm border-b outline-none border-b-black/50 text-black/70"
    />
    <input
      type="number"
      placeholder="Minutes"
      class="px-2 py-1 text-sm border-b outline-none border-b-black/50 text-black/70"
    />
    <!-- <span class="text-sm text-center text-black/70 ">min</span> -->
    <div class="flex flex-wrap justify-center gap-10 py-2">
      <button
        type="button"
        id="btn-add-task"
        class="flex-1 px-3 py-1 text-white bg-black/80 rounded-xl"
        >Agregar</button
      >
      <button
        type="button"
        id="btn-cancel-task"
        class="flex-1 px-3 py-1 border border-black/80 text-black/80 rounded-xl"
        >Cancelar</button
      >
    </div>
  </form>
</div>

<script type="module">
  const btnAddTask = document.getElementById("btn-add-task");
  const btnCancelTask = document.getElementById("btn-cancel-task");
  const formTaskContainer = document.getElementById("form-task-container");
  const form = document.getElementById("add-task-form");

  // Cancel Button
  btnCancelTask.addEventListener("click", () => {
    formTaskContainer.classList.toggle("invisible");
    formTaskContainer.classList.toggle("h-0");
    form.reset();
  });

  // Add tasks
  btnAddTask.addEventListener("click", addTask);

  function addTask() {
    console.log("add");
  }
</script>
