<!-- Form to add Task -->
<div
  id="form-task-container"
  class="invisible h-0 mb-3 rounded-b-lg bg-white/50"
>
  <form class="flex flex-col gap-4 px-3 py-2" id="add-task-form">
    <input
      type="text"
      name="title"
      placeholder="Task Title"
      required
      class="outline-none border-b border-b-black/50 text-black/70 text-sm px-2 py-1 pt-2"
    />
    <input
      type="number"
      name="duration"
      placeholder="Minutes"
      required
      class="outline-none border-b border-b-black/50 px-2 py-1 text-black/70 text-sm"
    />
    <div class="flex justify-center gap-10 py-2 flex-wrap">
      <button
        type="submit"
        id="btn-add-task"
        class="flex justify-center flex-1 px-3 py-1 text-white bg-black/80 rounded-xl"
        >Agregar</button
      >
      <button
        type="button"
        id="btn-cancel-task"
        class="flex-1 px-3 py-1 border border-black/80 text-black/80 rounded-xl"
        >Cancelar</button
      >
    </div>
  </form>
</div>

<script type="module">
  import { createTask } from "/src/scripts/tasks.js";
  import { addTask } from "/src/scripts/tasksApi.js";

  const btnAddTask = document.getElementById("btn-add-task");
  const btnCancelTask = document.getElementById("btn-cancel-task");
  const formTaskContainer = document.getElementById("form-task-container");
  const form = document.getElementById("add-task-form");
  const btnOpenFormTask = document.getElementById("btn-open-form-task");

  function resetForm() {
    formTaskContainer.classList.toggle("invisible");
    formTaskContainer.classList.toggle("h-0");
    btnOpenFormTask.classList.toggle("formOpen");
    form.reset();
  }

  // Cancel Button
  btnCancelTask.addEventListener("click", () => {
    resetForm();
  });

  // Add tasks
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //Get form values.
    const formData = new FormData(form);
    const title = formData.get("title");
    const duration = +formData.get("duration");

    btnAddTask.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" 
      fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" 
      repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" 
      calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle 
      cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" 
      keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>`;
    btnAddTask.disabled = true;
    btnCancelTask.disabled = true;
    const { data, success, error } = await addTask({ title, duration });
    if (success) {
      const task = data;
      const element = createTask(task);
      document.getElementById("task-list").appendChild(element);
      resetForm();
    } else {
      console.log(error);
    }

    // btnAddTask.innerText = "Agregar";
    btnAddTask.disabled = false;
    btnCancelTask.disabled = false;
  });
</script>
