<!-- Form to add Task -->
<div
  id="form-task-container"
  class="invisible h-0 bg-white/50 rounded-b-lg mb-3"
>
  <form class="flex flex-col px-3 py-2 gap-4" id="add-task-form">
    <input
      type="text"
      name="title"
      placeholder="Task Title"
      required
      class="outline-none border-b border-b-black/50 text-black/70 text-sm px-2 py-1 pt-2"
    />
    <input
      type="number"
      name="duration"
      placeholder="Minutes"
      required
      class="outline-none border-b border-b-black/50 px-2 py-1 text-black/70 text-sm"
    />
    <div class="flex justify-center gap-10 py-2 flex-wrap">
      <button
        type="submit"
        id="btn-add-task"
        class="px-3 py-1 bg-black/80 text-white rounded-xl flex-1"
        >Agregar</button
      >
      <button
        type="button"
        id="btn-cancel-task"
        class="px-3 py-1 border border-black/80 text-black/80 rounded-xl flex-1"
        >Cancelar</button
      >
    </div>
  </form>
</div>

<script type="module">
  import { createTask } from "/src/scripts/tasks.js";

  const btnAddTask = document.getElementById("btn-add-task");
  const btnCancelTask = document.getElementById("btn-cancel-task");
  const formTaskContainer = document.getElementById("form-task-container");
  const form = document.getElementById("add-task-form");
  const btnOpenFormTask = document.getElementById("btn-open-form-task");

  function resetForm() {
    formTaskContainer.classList.toggle("invisible");
    formTaskContainer.classList.toggle("h-0");
    btnOpenFormTask.classList.toggle("formOpen");
    form.reset();
  }

  // Cancel Button
  btnCancelTask.addEventListener("click", () => {
    resetForm();
  });

  // Add tasks
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //Get form values.
    const formData = new FormData(form);
    const title = formData.get("title");
    const duration = +formData.get("duration");

    const task = await addTask({ title, duration });
    const element = createTask({ ...task, id: Date.now() });
    document.getElementById("task-list").appendChild(element);
    resetForm();
  });

  async function addTask(task) {
    console.log(task);
    return task; // For now, just return the task object

    // // Backend connection
    // const response = await fetch("api/tasks", {
    //   method: "POST",
    //   body: task,
    // });
    // const data = await response.json();
    // return data;
  }
</script>
