---
import { Icon } from "astro-icon/components";

const { id, title, duration } = Astro.props;
---

<div
  id={id}
  class="group task-item flex justify-between px-2 pb-2 pt-2 hover:bg-white/30 rounded-lg"
>
  <div class="flex items-center gap-3">
    <input type="checkbox" name="task-check" id="" />
    <div class="flex flex-col">
      <span>{title} </span>

      <span class="text-xs text-gray-400">{duration - 20}/{duration} min.</span>
    </div>
  </div>

  <!-- Acciones -->
  <div class="flex gap-2 opacity-0 task-actions group-hover:opacity-100">
    <button>
      <Icon name="edit" class="text-xl text-black/80" />
    </button>
    <button><Icon name="delete" class="text-xl text-black/80" /></button>
  </div>
</div>
