---
import { Icon } from "astro-icon/components";
import FormTask from "./FormTask.astro";
---

<!-- Task component -->
<div class="p-3 bg-white/30 rounded-2xl">
  <!-- Search input -->
  <div class="flex items-center gap-1 px-2 py-1 rounded-lg bg-white/70">
    <Icon name="search" class="text-black/50" />
    <input
      type="text"
      placeholder="Search Tasks"
      class="outline-none caret-black/50"
    />
  </div>

  <!-- Add Task Form  -->
  <div class="flex rounded-lg cursor-pointer">
    <div
      class="flex flex-1 justify-between px-2 py-1 mt-3 cursor-pointer hover:bg-white/30 rounded-lg"
      id="btn-open-form-task"
    >
      <p>Add Task</p>
      <button class="text-lg"><Icon name="add" /></button>
    </div>
  </div>

  <FormTask />
  <ul id="task-list" class="flex flex-col gap-2"></ul>
</div>

<script type="module">
  import { createTask } from "/src/scripts/tasks.js";
  const btnOpenFormTask = document.getElementById("btn-open-form-task");
  const container = document.getElementById("form-task-container");

  btnOpenFormTask.addEventListener("click", () => {
    container.classList.toggle("invisible");
    container.classList.toggle("h-0");
    btnOpenFormTask.classList.toggle("formOpen");
  });

  // Simulated task data
  let tasks = [
    { id: 1, title: "tarea1", duration: 40 },
    { id: 2, title: "tarea2", duration: 40 },
  ];

  // try {
  //   const response = await fetch("http://localhost:3000/api/tasks");
  //   if (response.ok) {
  //     tasks = await response.json();
  //   }
  // } catch (error) {
  //   console.error("No se puede conectar al backend.");
  //   if (error instanceof Error) {
  //     console.error(error.message);
  //   } else {
  //     console.error("Ocurrio un error desconocido.", error);
  //   }
  // }

  // Render tasks
  tasks.forEach((task) => {
    const element = createTask(task);
    document.getElementById("task-list").appendChild(element);
  });
</script>
