---
import { Icon } from "astro-icon/components";

const { id } = Astro.props;
---

<div
  class="group task-item flex justify-between px-2 pb-2 pt-2 hover:bg-white/30 rounded-lg"
>
  <div class="flex items-center gap-3">
    <input type="checkbox" name="task-check" id="" />
    <span>Tarea 1</span>
  </div>

  <!-- Acciones -->
  <div class="task-actions flex gap-2 opacity-0 group-hover:opacity-100">
    <button>
      <Icon name="edit" class="text-black/80 text-xl" />
    </button>
    <button><Icon name="delete" class="text-black/80 text-xl" /></button>
  </div>
</div>
